exports = module.exports = require("../../../../../node_modules/css-loader/lib/css-base.js")(true);
// imports


// module
exports.push([module.id, ".m_wKIfyiqK3_z7tQTIy-F{margin-bottom:20px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.ghakHezZnxBsgqoRDq4Tj{margin:0;margin-right:5px}._37R_KUGPzGw_gKqPceNrFz{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}", "", {"version":3,"sources":["/Users/nicolaslopezj/Code/Node/labs/projects/exchange/web/src/App/components/fields/MarketOrLimitCheckbox/styles.css"],"names":[],"mappings":"AAAA,uBACE,mBAAoB,AACpB,yBAA0B,AACvB,sBAAuB,AACtB,qBAAsB,AAClB,gBAAkB,CAC3B,AAED,uBACE,SAAU,AACV,gBAAkB,CACnB,AAED,yBACE,yBAA0B,AACvB,sBAAuB,AACtB,qBAAsB,AAClB,gBAAkB,CAC3B","file":"styles.css","sourcesContent":[":local(.container) {\n  margin-bottom: 20px;\n  -webkit-user-select: none;\n     -moz-user-select: none;\n      -ms-user-select: none;\n          user-select: none;\n}\n\n:local(.checkbox) {\n  margin: 0;\n  margin-right: 5px;\n}\n\n:local(.label) {\n  -webkit-user-select: none;\n     -moz-user-select: none;\n      -ms-user-select: none;\n          user-select: none;\n}\n"],"sourceRoot":""}]);

// exports
exports.locals = {
	"container": "m_wKIfyiqK3_z7tQTIy-F",
	"checkbox": "ghakHezZnxBsgqoRDq4Tj",
	"label": "_37R_KUGPzGw_gKqPceNrFz"
};


//////////////////
// WEBPACK FOOTER
// ./node_modules/css-loader?{"importLoaders":1,"minimize":true,"sourceMap":true}!./node_modules/postcss-loader/lib?{"ident":"postcss","plugins":[null,null]}!./src/App/components/fields/MarketOrLimitCheckbox/styles.css
// module id = 2141
// module chunks = 2