:local(.container) {
  overflow: hidden;
}

:local(.inner) {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

:local(.icon) {
  height: 100%;
  background-image: url('/icon.svg');
  background-size: 1200px;
  background-repeat: no-repeat;
  background-position: center right;
}

:local(.error) {
  color: red;
  margin-top: -38px;
  margin-bottom: 20px;
}



// WEBPACK FOOTER //
// ./src/App/Pages/Auth/Layout/styles.css