.content {
  padding: 20px;
  margin-bottom: 100px;
  background: #fff;
  border-radius: 10px;
  /* overflow: hidden; */
  -webkit-box-shadow: 0 18px 35px rgba(50, 50, 93, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07);
          box-shadow: 0 18px 35px rgba(50, 50, 93, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07);
}

.no-padding {
  padding: 0;
}



// WEBPACK FOOTER //
// ./src/styles/content.css