div.o-table {
  overflow: auto;
}

.o-table table {
  width: 100%;
  border-spacing: 0;
}

div.o-table th {
  text-align: left;
}

div.o-table th.right,
div.o-table td.right {
  text-align: right;
}

.o-table table td {
  padding: 5px 0;
}



// WEBPACK FOOTER //
// ./src/styles/table.css