exports = module.exports = require("../../../../../../../node_modules/css-loader/lib/css-base.js")(true);
// imports


// module
exports.push([module.id, "._1v10tNblbtdD9wAoDOvzcS,.Fkwy1TsVDaRX7wJpjn-6N{-ms-flex:1 1;flex:1 1;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column}.Fkwy1TsVDaRX7wJpjn-6N{overflow:auto;-webkit-overflow-scrolling:touch}", "", {"version":3,"sources":["/Users/nicolaslopezj/Code/Node/labs/projects/exchange/web/src/App/Pages/Exchange/Market/Layouts/Tiny/styles.css"],"names":[],"mappings":"AASA,gDARE,aAAc,AACV,SAAU,AACd,oBAAqB,AACrB,aAAc,AACd,0BAA2B,AACvB,qBAAuB,CAY5B,AATD,uBAGE,cAAe,AACf,gCAAkC,CAKnC","file":"styles.css","sourcesContent":[":local(.container) {\n  -ms-flex: 1 1;\n      flex: 1 1;\n  display: -ms-flexbox;\n  display: flex;\n  -ms-flex-direction: column;\n      flex-direction: column;\n}\n\n:local(.active) {\n  -ms-flex: 1 1;\n      flex: 1 1;\n  overflow: auto;\n  -webkit-overflow-scrolling: touch;\n  display: -ms-flexbox;\n  display: flex;\n  -ms-flex-direction: column;\n      flex-direction: column;\n}\n\n:local(.tabs) {\n}\n"],"sourceRoot":""}]);

// exports
exports.locals = {
	"container": "_1v10tNblbtdD9wAoDOvzcS",
	"active": "Fkwy1TsVDaRX7wJpjn-6N",
	"tabs": "_3vCMsNo_1oZ3VJHGOMteZm"
};


//////////////////
// WEBPACK FOOTER
// ./node_modules/css-loader?{"importLoaders":1,"minimize":true,"sourceMap":true}!./node_modules/postcss-loader/lib?{"ident":"postcss","plugins":[null,null]}!./src/App/Pages/Exchange/Market/Layouts/Tiny/styles.css
// module id = 2120
// module chunks = 2